.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 10px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin-bottom: 0;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.logo {
  height: 5vh;
  padding: 1.5em;
  padding-bottom: 0;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 3em #34c00aaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
